<!DOCTYPE html>
<html>

<head>
    <title>Antidote Web Shell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/css/jquery.terminal.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <h1>AntidoteDB Web Shell</h1>
    <p>404 Error</p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/js/jquery.terminal.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
