<!DOCTYPE html>
<html>

<head>
    <title>AntidoteDB Web Shell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/css/jquery.terminal.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container">
        <h1>
            <a href="http://syncfree.github.io/antidote/">
                <img src="/img/antidote_logo.png" class="logo float-right">
            </a>AntidoteDB Web Shell</h1>
        <p>Welcome to the AntidoteDB Web Shell!
            <br/> 
            Type <mark>help</mark> to get the list of available commands. 
            Use <mark>Ctrl+[1,2,3]</mark> to switch between terminals. </p>
        <div class="row">
            <div class="col-md-4" id="part1">
                <div id="term1"></div>
            </div>
            <div class="col-md-4" id="part2">
                <div id="term2"></div>
            </div>
            <div class="col-md-4" id="part3">
                <div id="term3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="btn-group" role="group" id="btn-group">
                    <button id="btn-part1" type="button" class="btn btn-danger" 
                    title="Toggle network partition on AntidoteDB's 1st replica">
                    Create partition</button>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="btn-group" role="group" id="btn-group">
                    <button id="btn-part2" type="button" class="btn btn-danger" 
                    title="Toggle network partition on AntidoteDB's 2nd replica">
                    Create partition</button>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="btn-group" role="group" id="btn-group">
                    <button id="btn-part3" type="button" class="btn btn-danger" 
                    title="Toggle network partition on AntidoteDB's 3rd replica">
                    Create partition</button>
                </div>
            </div>
        </div>       
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/js/jquery.terminal.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>