<!DOCTYPE html>
<html>

<head>
    <title>Antidote Web Shell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/css/jquery.terminal.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container">
        <h1><a href="http://syncfree.github.io/antidote/"><img src="/img/antidote_logo.png" class="logo float-right"></a>Antidote Web Shell</h1>
        <p>Welcome to Antidote Web Shell! <br/> 
        Type <em>help</em> to get the list of available commands. </p>
        <div class="row">
            <div class="col-md-4">
                <div id="term1"></div>
            </div>
            <div class="col-md-4">
                <div id="term2"></div>
            </div>
            <div class="col-md-4">
                <div id="term3"></div>
            </div>
        </div>
     <div/>
     
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.3/js/jquery.terminal.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
